<h2>$cobra.getName()</h2>
<h3>Details</h3>
<ul>
  <li>Age: $cobra.getAge()</li>
  <li>Ability: $cobra.getPower()</li>
  <li>Attack level: $cobra.getAttack()</li>
  <li>Defense level: $cobra.getDefense()</li>
</ul>
<a href="/squads/$squadID" class="btn btn-primary">Back to $squadID</a>
