<!DOCTYPE html>
<html>
  <head>
    <title>Cobra Squad</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"><a href="squads">Home</a></li>
            <li><a href="#">New Squad</a></li>
            <li><a href="#">Top Squad</a></li>
          </ul>
        </div>
      </nav>
    </div>
      #parse( $template )

  </body>
</html>
